<div class="container">
  <details class="header-prestamo bg-success">
    <summary ><strong>PRÉSTAMOS DISPONIBLES:</strong></summary>

    <div class="card text-center">
      <div class="card-body">
        <br>
        <h4 class="card-title">
          <strong
            >CORPORACION PRODESA INSTITUCION ESPECIALIZADA EN
            MICROFINANZAS</strong
          >
        </h4>
        <br>
        <p class="card-text">
          Atendiendo al sector urbano y rural con un portafolio de productos
          diseñado para atender las diversas actividades y rubros que demandan
          sus clientes. Tenemos crédito para capital de trabajo e inversiones a
          corto plazo para capital de trabajo y a largo plazo para realizar
          inversiones.
          <br />

          CORP. PRODESA tiene créditos desde US$ 100 hasta 10 veces el Ingreso
          Per cápita Nacional, los desembolsos y pagos son en moneda nacional,
          con plazos desde seis (6) meses - hasta 72 meses para la compra de
          viviendas o construcción de vivienda nueva. Los Plazos para el sector
          agropecuario van desde 3 meses hasta 60 meses. La frecuencia de pago
          varía según la actividad económica en que se va a realizar la
          inversión y puede ser: mensual, trimestral, semestral, anual y al
          vencimiento en préstamos para desarrollo de toretes.
          <br />
          <br />
          <br />
          <strong> Requisitos para obtener un préstamo: </strong> <br />
          1. Ser Nicaragüense.
          <br />
          2. Edad entre 21 y 70 años.
          <br />
          3. Tener cedula de Identidad.
          <br />
          4. Tener una fuente de ingresos por salario, remesas, inversiones o
          tener su propio negocio.
          <br />
          5. Otros según políticas de Crédito.
          <br /><br />

          CORP. PRODESA, ATIENDE AL SECTOR URBANO Y RURAL EN SUS 15 AGENCIAS,
          CON UNA IMPORTANTE CARTERA DE CREDITOS DONDE EL 50% SON MUJERES
        </p>
      </div>
    </div>
  </details>

  <br /><br /><br />

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <img
            src="./../../../assets/images/productos/vivienda.jpg"
            class="img-fluid rounded-start"
            alt="Card title"
          />
          <div>
            <div class="card-body">
              <h5 class="card-title bg-success header-card">
                CRÉDITO PARA MEJORAS DE VIVIENDA
              </h5>
              <p class="card-text">
                El mercado objetivo son las personas naturales que realizan una
                actividad generadora de ingresos en forma independiente o que
                tienen un trabajo estable y que además cumplan con los
                requisitos o políticas de crédito de la Institución.
              </p>

              <details>
                <summary>Leer más...</summary>
                <hr />
                Su destino: construcción, ampliación o remodelación de la
                vivienda familiar, compra de terrenos, Compra de vivienda nueva
                o usada, Compra de locales comerciales etc. Esta modalidad
                crediticia se caracteriza por la utilización de planes de pago
                adecuados al proyecto del solicitante considerando que el
                préstamo es una inversión que no tiene una rentabilidad medible
                a corto plazo y tampoco genera un ingreso adicional como
                consecuencia de la inversión.
                <hr />
                <details>
                  <summary>Leer aun más...</summary>
                  <hr />
                  Existe información que para dar una respuesta real al problema
                  de vivienda en Nicaragua se necesita construir entre 15,000 y
                  25,000 casas anuales, es decir entre cinco mil y 15,000 casas
                  más de las que actualmente se están edificando. Para
                  Contribuir a esta Demanda estamos financiando préstamos para
                  personas que cuenten con una fuente de ingresos ya sea por
                  salario o por tener un negocio.
                  <br />
                  Si el crédito de vivienda va acompañado con asistencia
                  técnica, se le brinda una tasa de interés mas baja:
                  <br />
                  1. Remodelaciones
                  <br />
                  2. Ampliaciones
                  <br />
                  3. Compra de terreno
                  <br />
                  4. Compra de viviendas
                  <br />
                </details>
              </details>
            </div>
          </div>
        </div>
      </div>

      <hr />
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <img
            src="./../../../assets/images/productos/negocio.png"
            class="img-fluid rounded-start"
            alt="Card title"
          />
          <div>
            <div class="card-body">
              <h5 class="card-title bg-success header-card">
                PRÉSTAMOS COMERCIALES Y DE SERVICIOS.
              </h5>
              <p class="card-text">
                Detalles del prestamos su descipciony enfoque al que va dirigido
                asi como detalles de interes para el cliente.Detalles del
                prestamos su descipciony enfoque al que va dirigido asi como
                detalles de interes para el clienteDetalles del prestamos su
                descipciony enfoque al que va dirigido asi como detalles de
                interes para el cliente.
              </p>

              <details>
                <summary>Leer más...</summary>
                <hr />
                DONDE LA MAYOR PARTE DE LOS BENEFICIARIOS SON MUJERES,
                CONTRIBUYENDO PRINCIPALEMNTE A LA GENERACION DE INGRESOS Y
                AUTOEMPLEO:
                <br />
                - Pulperías.
                <br />
                - Tiendas de Ropa y calzado.
                <br />
                - Bisuterías.
                <br />
                - Librerías.
                <br />
                - Compra y Venta de Ganado.
                <br />
                - Talleres de reparación de llantas, enderezado y pintura.
                <br />
                - Restaurantes y comideras.
                <br />
                - Transporte (reparación y compra de vehículos).
                <br />
                - Talleres de carpintería.
                <br />
                - Otros.
                <br />
                <hr />
              </details>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <img
            src="./../../../assets/images/productos/agro.jpg"
            class="img-fluid rounded-start"
            alt="Card title"
          />
          <div>
            <div class="card-body">
              <h5 class="card-title bg-success header-card">
                CRÉDITOS AL SECTOR AGROPECUARIO
              </h5>
              <p class="card-text">
                Siendo el Sector Agropecuario uno de los principales rubros de
                exportación del país, estamos apoyando al sector con: Créditos
                para actividades ganaderas podrán ser destinados para compra de
                ganado de engorde, Vacas paridas, Vaquillas, Sementales, compra
                de alimentos (forraje, balanceado, entre otros) y medicamentos
                para el ganado, cultivo de pastos, extracción de agua, mano de
                obra, y costos generales relacionados con la ganadería.
              </p>

              <details>
                <summary>Leer más...</summary>
                <hr />
                Los créditos para actividades agrícolas podrán ser destinados
                para la compra de semillas, productos para preparación del
                terreno y mantenimiento del sembradío (fertilizantes,
                insecticidas, funguicidas), refacciones y reparación de
                maquinaria agrícola y costos generales relacionados con la
                actividad.
                <br />
                Siendo este sector uno de los mas importantes, por el aporte que
                hace a la economía nacional, el 47% del monto de la cartera esta
                manos de pequeños productores que se dedican principalmente a la
                Crianza y desarrollo de ganado.
                <br />
                <br />
                <strong>Pecuarios:</strong>
                <br />
                - Vacas paridas
                <br />
                - Vaquillas
                <br />
                - Sementales
                <br />
                - Toretes

                <br />
                - Crianza de cerdos
                <br />
                - Siembra de pasto
                <br />

                <br />
                <strong>Infraestructuras:</strong>
                <br />
                - Galeras
                <br />
                - Salas de ordeño
                <br />
                - Corrales
                <br />
                - Excavación y const. De pozos
                <br />
                - Instalación de cercas (Compra de alambres de púas, grapas y
                postes)
                <br />
                - Cercas eléctricas
                <br />
                - Construcción de corrales y mangas.
                <br />
                - Construcción de pilas y estanques.
                <br />
                - Compra de silos, bodegas y trojas mejoradas.
                <br />
                - Construcción de NORIAS.
                <br />
                - Compra o construcción de colmenas.
                <br />
                <hr />

                <details>
                  <summary>Leer aun más...</summary>
                  <hr />
                  <strong>Equipos:</strong>
                  <br />
                  - Picadoras de pasto
                  <br />
                  - chapeadoras
                  <br />
                  - paneles solares
                  <br />
                  - descremadoras
                  <br />
                  - pichingas
                  <br />
                  - bombas de riego
                  <br />
                  <br />

                  <strong>Agrícolas:</strong>
                  <br />
                  - Semillas mejoradas.
                  <br />
                  - Fertilizantes.
                  <br />
                  - Retención de cosechas.
                  <br />
                  - Siembra de cultivos estacionales.
                  <br />
                  - Siembra y mantenimiento de cultivos semi- permanentes.
                  <br />
                  - Siembra y mantenimiento de cultivos permanentes.
                  <br />
                  <hr />
                </details>
              </details>
            </div>
          </div>
        </div>
      </div>

      <hr />
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <img
            src="./../../../assets/images/productos/paneles.jpg"
            class="img-fluid rounded-start"
            alt="Card title"
          />
          <div>
            <div class="card-body">
              <h5 class="card-title bg-success header-card">
                CRÉDITOS PARA PANELES SOLARES
              </h5>
              <p class="card-text">
                El objetivo del crédito es llevar la energía a las zonas rurales
                más alejadas, y que las familias tengan un mejor nivel de vida,
                ya que sus hijos pueden estudiar por las noches, ver TV. Y no
                tienen que estar pagando facturas de energía eléctrica que cada
                día se vuelven más costosas.
              </p>
            </div>
          </div>
        </div>
      </div>

      <hr />
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <img
            src="./../../../assets/images/productos/personal.jpg"
            class="img-fluid rounded-start"
            alt="Card title"
          />
          <div>
            <div class="card-body">
              <h5 class="card-title bg-success header-card">
                CRÉDITO PERSONAL O DE CONSUMO
              </h5>
              <p class="card-text">
                El mercado objetivo son las personas Naturales, hombre o mujer,
                clientes, trabajadores dependientes de empresas privadas, de
                entidades públicas (Crédito Directos, Créditos por Convenio
                descuento por planilla), profesionales independientes
                debidamente formalizados. Son sujetos de crédito las personas
                naturales que cumplan con lo establecido en las Políticas de
                Crédito.
              </p>

              <details>
                <summary>Leer Más...</summary>
                <br />
                <strong>Créditos individuales para:</strong>
                <br />
                - Gastos personales.
                <br />
                - Compra de bienes para el hogar.
                <br />
                - compra de motos o vehículos.
                <br />
                - Pagos de estudios.
                <br />
                - especializados.
                <br />
                - Gastos médicos.
                <br />
                - Consolidación de deudas.
                <br />
              </details>
            </div>
          </div>
        </div>
      </div>

      <hr />
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card mb-3" style="max-width: 540px">
        <div class="card-body">
          <h5 class="card-title bg-success header-card">
            LÍNEA DE CRÉDITO O CRÉDITO AUTOMÁTICO
          </h5>
          <p class="card-text">
            Son créditos otorgados a clientes recurrentes, que ya hayan operado
            con la corporación PRODESA más de un crédito, pagando puntualmente
            sus cuotas y que hayan cancelado sus créditos en el plazo previsto.
            Son créditos que se caracterizan por la rapidez en el trámite de
            otorgamiento a través de una atención más personalizada.
          </p>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <br /><br />
</div>
