.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #dddddd;
    box-shadow: 10px 10px 20px rgb(25, 25, 25),
                -10px -10px 20px rgb(60, 60, 60);

    align-items: center;
    justify-content: center;
   }
   
