<div class="container" style="text-align: justify;">

    <div class="row">
        <div class="col-1">
            <!--Este div es solo para darle un espacio y centrarlo-->
        </div>
        <div class="row col-10">

            <!--mision-->
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/icons/mision.png" alt="" srcset="">
                    <h1 class="title">Misión</h1>
                </div>

                <div class="content">
                    <p>
                        Ser una entidad microfinanciera sólida, promotora del desarrollo socioeconómico de Nicaragua,
                        otorgando créditos y otros servicios cuyos resultados incidan en la reducción de la pobreza.
                    </p>
                </div>
            </div>
            <!--Vision-->
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/icons/vision.png" alt="" srcset="">
                    <h1 class="title">Visión</h1>
                </div>

                <div class="content">
                    <p>
                        Institución promotora de programas de crédito confiable, eficiente, sostenible, competitiva, en
                        expansión progresiva, comprometida con el desarrollo de de las familias, para garantizar la
                        mejora
                        en la calidad de vida.
                    </p>
                </div>
            </div>
            <!--Objetivo General-->
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/icons/especifico.png" alt="" srcset="">
                    <h1 class="title">Objetivo General</h1>
                </div>

                <div class="content">
                    <p>
                        Facilitar el acceso de los servicios financieros a los micros y pequeños empresarios del área
                        rural
                        y urbana, para el apoyo de sus actividades productivas, comerciales y de mejora de sus
                        condiciones
                        de vida.
                    </p>
                </div>
            </div>
            <!--Objetivos Especificos-->
            <div class="card specific">
                <div class="header specific-header">
                    <img src="../../../assets/images/icons/objetivo.png" alt="" srcset="">
                    <h1 class="title">Objetivos Especificos</h1>
                </div>

                <div class="content">

                    
                        <br><br><br>
                        <hr>
                    <p>
                        » Desarrollar la actividad de micro finanzas con
                        buenos
                        <br>

                        » Ser más eficientes para que los beneficiarios de nuestros programas accedan a
                        créditos en mejores condiciones (procesos ágiles y tasas de interés que garanticen su
                        desarrollo).
                        <br>
                        » Asesorar a nuestros clientes para potenciar sus
                        habilidades y capacidades, de modo que los beneficiarios de nuestros programas manejen
                        eficientemente su
                        negocio y su patrimonio.
                        <br>
                        » Realizar eficientemente todas las operaciones
                        propias de
                        las entidades microfinancieras, de conformidad con la Ley de Regulación y Fomento de las
                        Microfinanzas (Ley
                        769).
                        <br>
                        » Brindar mayores y mejores servicios financieros y no financieros.
                    </p>
                </div>
            </div>
        </div>
    </div>

    
</div>
<hr>

<br><br>
<app-records></app-records>




<br><br><br><br><br>