<div class=" container">
    <div class="row">
        <div class="col-1">
            <!--Este div es solo para darle un espacio y centrarlo-->
        </div>
        <div class="spread__right col-10">
            <div class="title">
                <h1 class="small">Antecendentes</h1>
            </div>
            <div class="content">
                <div class="fr" lang="fr">

                    <p>La Corporación para la promoción y desarrollo Corp., se fundó el dieciséis de noviembre de 2010.
                        Habiéndose inscrito dicha corporación en el Sistema Tecnológico de Información del Registro
                        Público
                        de Panamá. Sección Mercantil. Ficha Número siete, uno nueve, siete, cuatro, seis (719746).
                        Documento
                        Redí Número uno, ocho, ocho, cuatro, cuatro, ocho, ocho (1884488). Dicha Corporación se
                        constituye
                        como parte de un proyecto de expansión regional, aseguramiento de fondeo y especialización de la
                        actividad de microfinanzas, emprendido por la Fundación Prodesa.</p>
                </div>
                <div class="en" lang="en">

                    <p>La Corporación busca encontrar los mecanismos que permitan facilitar el fondeo, diversificar las
                        operaciones y sostener los programas de microfinanzas. Es un instrumento institucional, que
                        canaliza
                        los recursos financieros que se requieren para impulsar las iniciativas crediticias,
                        empresariales,
                        sociales y comunitarias. La actividad inicial de la Corporación se enmarca en la creación de una
                        sucursal en la República de Nicaragua, con el ánimo de que ésta maneje un programa de
                        microfinanzas
                        especializado, que cumpla con las leyes que en materia de microfinanzas tiene la República de
                        Nicaragua.</p>

                </div>
                <div class="en">

                    <img src="../../../assets/images/Logo.jpg" width="180px" alt="">
                </div>
            </div>

            <div class="spread__page-bottom">

                <i class="fas fa-bicycle fa-4x"></i>
                <div class="num"></div>
            </div>


        </div>

        <div class="col-1"></div>
    </div>
</div>