<div class="container">


            <!--This is the main container that contains the whole timeline.-->
            <section class="design-section">
                <div class="timeline">

                    <!--Well, The reason for this div is to fill space. 
This space is technically used for keeping dates, 
but I didn't find the need for dates. However, I'll provide 
you the styling for dates, so that you can use it if you 
wanted to.-->
                    <div class="timeline-empty">
                    </div>

                    <!--This is the class where the timeline graphics are 
housed in. Note that we have timeline-circle 
here for that pointer in timeline.-->

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>
                    </div>

                    <div class="timeline-component timeline-content">
                        <h3>¿Qué otro servicio ofrece corporación Prodesa?</h3>
                        <p>Ofrece únicamente el servicio de financiamiento de créditos.</p>
                    </div>

                    <div class="timeline-component timeline-content">
                        <h3>¿Cuáles son los horarios de atencion? </h3>
                        <p>De Lunes a Viernes de 8:00 AM a 12 MD y de 1:30PM a 5:00 PM. Los días sábados de 8:00am a
                            12:00 MD.</p>
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>
                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Cuál es el monto más pequeño que ofrece al público Corporación Prodesa?</h3>
                        <p>El Monto Mínimo es el equivalente en córdobas a US$ 80.00 hasta 10 veces el PIB per cápita.
                        </p>
                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Hasta qué monto se da en créditos personales?</h3>
                        <p>Hasta montos que no excedan el valor de diez veces el PIB per cápita.</p>
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>

                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Quiénes son sujetos a créditos en corporación Prodesa?</h3>
                        <p>Son sujetos de crédito de PRODESA CORP. Las personas naturales o jurídicas, hombres o mujeres
                            que sean propietarios de negocios independientes (empresarios y/o profesionales
                            independientes), que dirijan y/o realicen una o varias actividades económicas.</p>
                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Cuánto tiempo tarda un crédito cuando se solicita por primera vez?</h3>
                        <p>Tarda de 3 a 4 días, después de Haber completado los requisitos con el promotor de créditos.
                        </p>
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>

                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Se puede cancelar con anticipación al plazo convenido en el contrato?</h3>
                        <p>Si, y no se penaliza por realizar pago anticipado.</p>
                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Puedo pagar mi cuota en cualquier agencia de corporación Prodesa?</h3>
                        <p>Si, en las cajas de cualquiera de las 15 agencias habilitadas para tal fin, según mapa de
                            distribución en esta página WEB.</p>
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>

                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Cuáles son los requisitos básicos para optar a un crédito?</h3>
                        <p>
                            • Consulta al buró de crédito e Historial Crediticio. <br>
                            • La edad de los solicitantes debe ser mínimo 18 y máximo 70 años. <br>
                            • Cedula vigente 2 copias ampliadas del deudor y fiador. <br>
                            • No presentar antecedentes morosos en el sistema financiero. <br>
                            • Fuente de ingresos y capacidad de pago según actividad económica. <br>


                            • Tener documentos que le sirvan como garantía o avales (cuando aplique según política y
                            reglamento de crédito). <br>
                            • Para ganaderos copia del certificado de fierro. <br>
                            • Créditos comerciales, industriales o de servicio (matrícula de negocio Cuando aplique).
                            <br>
                            • Para asalariado colilla de inss actualizada.</p>
                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Qué rubros se financian?</h3>
                        <p>Comercio, industria, servicio, agrícola, pecuario, vivienda, asalariado, consumo.</p>
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>

                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Cuáles son los plazos de los créditos?</h3>
                        <p>Los plazos van desde 6 a 36 meses.</p>
                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Cuáles son las garantías que aceptan?</h3>
                        <p>Mobiliarias, Inmobiliarias y Fiduciarias.</p>
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>

                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Se pueden realizar abonos antes de la fecha de pagos establecidas?</h3>
                        <p>Si, se aceptan pagos antes de la fecha correspondiente.</p>
                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Dónde puedo solicitar un crédito?</h3>
                        <p>En cualquiera de las 15 agencias habilitadas para tal fin, según mapa de distribución en
                            página WEB.</p>
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-empty">
                    </div>

                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>

                    </div>

                    <div class=" timeline-component timeline-content">
                        <h3>¿Qué es el récord crediticio?</h3>
                        <p>Es el comportamiento de pago que ha obtenido la persona en cada uno de los prestamos en las
                            instituciones o casas comerciales.</p>
                    </div>

                </div>
            </section>
</div>