<div class="container ">
    <div class="row">
       <details class="col-md-4 col-sm-10">
           <summary >FORMATO PARA EL REPORTE DE LA TASA DE COSTO EFECTIVO ANUAL
            TCEA de las IFIM CORP PRODESA VF.</summary>
           <ul>
             <li>
               <a
                 href="./../../../../assets/docs/TABLA DE COSTOS 2022.pdf"
                 type="link"
                 target="iframe_Contrato"
               >
               TCEA de las IFIM CORP PRODESA VF.
               </a>
             </li>


             <li>
                <a
                  href="./../../../../assets/docs/ANEXO A  DE TCEA1.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                ANEXO A DE TCEA 1.
                </a>
              </li>
              <li>
                <a
                  href="./../../../../assets/docs/ANEXO A  DE TCEA2.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                ANEXO A DE TCEA 2.
                </a>
              </li>
              <li>
                <a
                  href="./../../../../assets/docs/ANEXO A  DE TCEA3.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                ANEXO A DE TCEA 3.
                </a>
              </li>
              <li>
                <a
                  href="./../../../../assets/docs/ANEXO A  DE TCEA4.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                ANEXO A DE TCEA 4.
                </a>
              </li>
              <li>
                <a
                  href="./../../../../assets/docs/ANEXO A  DE TCEA5.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                ANEXO A DE TCEA 5.
                </a>
              </li>
              <li>
                <a
                  href="./../../../../assets/docs/ANEXO A  DE TCEA6.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                ANEXO A DE TCEA 6.
                </a>
              </li>

             
   
           </ul>
         </details>
       
         <iframe  name="iframe_Contrato"   class="col-md-8 col-sm-5"  ></iframe>
    </div>
   </div>