.all{
    padding-top: 0px; 
    margin-top: 0px;
}

.all a{
    color: rgb(255, 255, 255);

}

.img-carusel {
    width: 940px;
    height: 600px;
}

div {
    text-align: center;
    color: rgb(255, 255, 255);


    padding-bottom: 15px;
    margin-left: 0%;

}

h3,
p {
    background-color: rgba(100, 105, 101, 0.432);
    text-shadow: 10px 10px 20px rgb(25, 25, 25),
        -10px -10px 20px rgb(60, 60, 60);
    box-shadow: 10px 10px 20px rgba(255, 163, 163, 0.384),
        -10px -10px 20px rgba(230, 213, 213, 0.363);

    border-radius: 15px;
}



.menu-bar-desktop {
    text-decoration: none;
    font: 100% Roboto, sans-serif;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    font-size: 20px;
    line-height: 10px;
    padding: 0 20px;
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: justify;
}



a{
    color: rgb(24, 23, 23);
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
}

a:hover {
    background: #ffe082;
}

a:active {
    background: #ffca28;
}


