<section>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <!--Indicadores-->
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="2"></li>
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="3"></li>
          <li data-target="#carouselExampleSlidesOnly" data-slide-to="4"></li>
        </ol>

        <!--Contenedor de los slide-->
        <div class="carousel-item active">
          <section class="container-fluid slider d-flex justify-content-center img-responsive mb-0" alt="First slide">
            <div class="col-md-2"><br>
              <img class="foto1 img-responsive img-thumbnail img-fluid fadeIn animated log" alt="Responsive image"
                src="img/Logo.jpg" style="background-position: left;">
            </div>
            <h1 class="font-weight-bold text-white bounceInDown animated cre">CRÉDITOS PARA SU DESARROLLO FINANCIERO
            </h1>
          </section>
        </div>
        <div class="carousel-item pulse animated">
          <img class="d-block w-100" class="img-responsive" src="img/tejidos.jpg" style="height: 85vh;"
            alt="Second slide">
        </div>
        <div class="carousel-item fadeInLeft animated">
          <img class="d-block w-100" class="img-responsive" src="../../../assets/images/Capacitacion.jpg" style="height: 85vh;"
            alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" class="img-responsive" src="../../../assets/images/galeria/ft009.jpg" style="height: 85vh;"
            alt="Fourth slide">
        </div>
        <div class="carousel-item fadeInDown animated">
          <img class="d-block w-100" class="img-responsive" src="../../../assets/images/galeria/ft006.jpg" style="height: 85vh;"
            alt="Fifth slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anetrior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </section>

  <!-- fin de imagen imagen principal -->