<footer class="mu ng">
    <div class="w-15 p-1" style="background-color: #F2F541; height: 10px;"></div> <!--franja amarilla del footer-->
    <div class="d-flex text-white">
      <div class="container text-center">
        <span>Copyright&copy 2018 Corporacion Prodesa - Derechos reservados. </span>
        <!--vision en conjunto de contacto y preguntas frecuentes-->
        <div class="btn">
          <span>|</span>
          <a type="link" href="Contacto.html" class="active text-white"><span class="icon-phone"
              style="color: #fff;"></span> Contacto</a>
          <span class=""> | </span>
          <a type="link" href="Preguntas Frecuentes.html" class="active text-white"> Preguntas Frecuentes</a>
              <span class=""> | </span>
              <a type="link" href="anuncios.html" class="active text-white"><span
                class="icon-users " style="width: 2.2vh;height: 20px; color: #0f0d2e81; "> </span>    Trabaja con Nosotros</a>
        </div>
      </div>
    </div>
    <div class="w-15 p-1" style="background-color: #FB0C08; height: 20px;"></div> <!--franja roja del footer-->
  </footer>
  <!--Fin de Pie de pagina-->