<nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top nav2 mt-0 mb-0">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">
        <img src="../../../assets/images/Logo.jpg" width="40" height="40" class="d-inline-block align-top" alt="Corporación Prodesa">
        Corp. Prodesa
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <!--para que desaparezca cuando llegue a una pantalla panqueña -->
        <div class="navbar-nav mr-auto ml-auto text-center">
            <a class="nav-item nav-link active" href="/">Inicio</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Quienes Somos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="Mision-vision-objetivos.html">Misión, Visión, Objetivos</a>
                    <a class="dropdown-item" href="Antecedentes.html">Antecedentes</a>
                    <a class="dropdown-item" href="Organigrama.html">Organigrama/Consejo Admin</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Aspecto Legal
                </a>
                <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                        href="docs/Ley No. 769, Ley de Fomento y Regulacion de Microfinanzas.pdf">Ley
                        769</a>
                    <a class="dropdown-item" href="TCEA.html">TCEA</a>
                    <a class="dropdown-item" href="ejem calculo de int.html">Ejemp Calculo de Int.</a>
                    <a class="dropdown-item" href="procedimiento de reclamo IFIM.html">Procedimiento de Reclamo</a>
                    <a class="dropdown-item" href="Modelo de contratos.html">Modelo de Contratos</a>
                    <a class="dropdown-item" href="Estados Financieros.html">Estados Financieros</a>
                </div>
            </li>
            <a class="nav-item nav-link " href="Cobertura.html"><span class="icon-sphere"></span> Cobertura</a>
            <a class="nav-item nav-link" href="Producto Financiero.html"><span class="icon-folder-open"></span>
                Productos
                Financieros</a>
            <a class="nav-item nav-link" href="Calificacion Institucional.html"><span
                    class="icon icon-price-tag"></span>
                Calificación Institucional</a>
            <a class="nav-item nav-link" href="Desempeno social.html"><span class="icon-users"></span> Desempeño
                Social</a>
                <a class="nav-item nav-link" href="home"><span class="icon-users"></span> a</a>
        </div>
        <!-- <div class="d-flex flex-row justify-content-center">
        <a href="https://es-la.facebook.com/pg/Corporacion-Prodesa-Suc-Nicaragua-473265696073039/about/?ref=page_internal" class="btn btn-primary mr-2" title="Facebook" target="_blank"><span class="icon-facebook2" style="font-size: 21px;"></span></a>
        <a href="" class="btn btn-danger" title="Youtube" target="_blank"><span class="icon-youtube" style="font-size: 21px;"></span></a>
      </div-->
    </div>
</nav>
<!-- fin del menú de navegacion -->