
<a class="navbar-brand" href="#">
    <img src="../../../assets/images/Logo.jpg" width="10%">
  </a>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
  
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">Quienes somos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Cobertura</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Desempeño Social</a>
          </li>
      </ul>
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>    <app-carrousel></app-carrousel>