
<div>
<nav class="container navbar navbar-expand-lg navbar-dark bg-dark align-button">


    <button class="navbar-toggler button-style" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item button-style">
                <a class="nav-link" href="#">Inicio</a>
            </li>

            <li class="nav-item button-style">
                <a class="nav-link" href="#">Quienes somos</a>
            </li>

            <li class="nav-item button-style">
                <a class="nav-link" href="#">Cobertura</a>
            </li>

            <li class="nav-item button-style">
                <a class="nav-link" href="#">Desempeño Social</a>
            </li>
        </ul>
    </div>
</nav>

    <a href="#" >
        <img src="../../../assets/images/Logo.jpg" class=" position-logo" width="15%">
    </a>
</div>