<br>

<nav style="z-index: 3;">
  <div class="navicon">
    <div></div>
  </div>

  <a class="menu-float" href="/">Inicio</a>
  <a class="menu-float" href="/cobertura">Cobertura</a>
  <a class="menu-float" href="/productos">Productos Financieros</a>
  <a class="menu-float" href="/social">Desempeño social</a>
  <a class="menu-float" href="/calificacion">Calificacion Institucional</a>
  <select id="mySelect" (click)="navigate()" >
    <option >Aspectos Legales</option>
    <option value="/ley 769">Ley 769</option>
    <option value="/tcea">Tcea</option>
    <option value="/ejemplo calculos">Ejemplo calculos</option>
    <option value="/reclamos">Reclamos</option>
    <option value="/contratos">Contratos</option>
    <option value="/estados financieros">Estados Financieros</option>
  </select>
  
<a href="#">
  <img src="../../../assets/images/Logo.jpg" class=" position-logo" width="15%">
</a>

</nav>