<div class="container">
  <label class="bg-info"
    >Premios de la corporacion a sus clientes y trabajadores:</label
  >
  <hr />

  <div class="row">
    <div class="col-md-6 col-sm-12 text-center">
      <h3 class="bg-danger">
         Premios del dia de las Madres
      </h3>

      <p>Premiasion del dia de las madres, las felices ganadoras de nuestras premiasiones</p>

    </div>

    <div class="col-md-6 col-sm-12">
      <app-madres></app-madres>
    </div>

   
  </div>
<hr>

  <div class="row">
   <div class="col-md-6 col-sm-12 text-center">
      <h3 class="bg-primary">
         Premios del dia del Padre.
      </h3>

      <p>Entrega de premios del dia del padre a trabajadores y clientes de Prodesa</p>

   </div>
    <div class="col-md-6 col-sm-12">
      <app-padres></app-padres>
    </div>
  </div>

  <hr>

  <div class="row">
    <h3 class="bg-warning text-center">
       Ferias Agostinas Prodesa.
    </h3>
   <div class="col-md-6 col-sm-12 text-center">

      <p>Realizacion de las fiestas agostinas</p>

   </div>
    <div class="col-md-6 col-sm-12">
      <app-agosto></app-agosto>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
       <h3 class="bg-info">
          Celebracion de la Purisima.
       </h3>
 
       <p>Fiestas en honor a la Virgen.</p>
 
       <app-navidad></app-navidad>
     </div>
   </div>

   <hr>

   <div class="row">
     <h3 class="bg-success text-center">
        Celebracion del Aniversario de Prodesa.
     </h3>
    <div class="col-md-6 col-sm-12 text-center">
 
       <p>Celebracion del aniversario de la empresa.</p>
 
    </div>
     <div class="col-md-6 col-sm-12">
       <app-aniversario></app-aniversario>
      </div>
   </div>

</div>
