<div class="container">
  <label class="bg-info"
    >Premios de la corporacion a sus clientes y trabajadores:</label
  >
  <hr />

  <div class="row">
    <div class="col-md-6 col-sm-12 text-center">
      <h3 class="bg-danger">
         Premios del dia de las Madres
      </h3>

      <p>Premiasion del dia de las madres, las felices ganadoras de nuestras premiasih3</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <img src="../../../assets/images/premios prodesa/WhatsApp Image 2023-06-23 at 5.39.23 PM.jpeg" alt="">
    </div>

   
  </div>
<hr>

  <div class="row">
   <div class="col-md-6 col-sm-12 text-center">
      <h3 class="bg-primary">
         Premios del dia del Padre.
      </h3>

      <p>Entrega de premios del dia del padre a trabajadores y clientes de Prodesa</p>

   </div>
    <div class="col-md-6 col-sm-12">
      <img
        src="../../../assets/images/premios prodesa/WhatsApp Image 2023-06-23 at 5.39.24 PM.jpeg"
        
      />
    </div>
  </div>

  <hr>

  <div class="row">
   <div class="col-md-6 col-sm-12 text-center">
      <h3 class="bg-warning">
         Ferias Agostinas Prodesa.
      </h3>

      <p>Realizacion de las fiestas agostinas</p>

   </div>
    <div class="col-md-6 col-sm-12">
      <img
        src="../../../assets/images/premios prodesa/WhatsApp Image 2023-06-23 at 5.39.24 PM.jpeg"
        
      />
    </div>
  </div>

</div>
