<div class="container">
  <div class="confetti">
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>

  <label class="bg-info"
    >Premios de la corporacion a sus clientes y trabajadores:</label
  >
  <hr />

  <div class="row">
    <div class="col-md-6 col-sm-12 text-center ">
      <h3 class="bg-danger">Premios del dia de las Madres</h3>

      <p >
        ¡Celebremos juntos el amor y el compromiso de todas las madres en su día
        especial! En Copr. Prodesa, nos enorgullece honrar a todas las mujeres
        que desempeñan el rol de madres, brindando apoyo y seguridad en su
        camino financiero.

        <br />
        <br />

        Como muestra de nuestro compromiso, queremos consentir a nuestras
        valiosas clientas en esta ocasión tan especial. Hemos preparado una
        selección de regalos exclusivos para celebrar su dedicación y amor
        incondicional.

        <br />
        <br />

        Queremos que te sientas valorada en este día tan especial. Por eso, te
        invitamos a participar en nuestro sorteo de premios exclusivos para
        nuestras clientas. ¡Tienes la oportunidad de ganar uno de estos
        fabulosos regalos!

        <br />
        <br />

        En Corp. Prodesa, estamos comprometidos con tu éxito y bienestar
        financiero. Queremos agradecer tu confianza y apoyo, y qué mejor manera
        de hacerlo que celebrando contigo en el Día de las Madres.

      </p>

     
    </div>

    <div class="col-md-6 col-sm-12">
      <app-madres></app-madres>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-md-6 col-sm-12 text-center">
      <h3 class="bg-primary">Premios del dia del Padre.</h3>

      <p class="padres">
        ¡Celebremos juntos el amor y la dedicación de todos los padres en su día
        especial! En Corp. Prodesa, reconocemos el papel fundamental que
        desempeñan los padres en nuestras vidas y queremos honrarlos en esta
        ocasión tan significativa.

        <br /><br />

        Como muestra de nuestro compromiso, hemos preparado una selección
        exclusiva de premios para consentir a nuestros valiosos clientes en el
        Día del Padre. Sabemos que cada padre es único, por eso hemos elegido
        una variedad de regalos pensados especialmente para ellos.

        <br /><br />

        En Corp. Prodesa, nos preocupamos por tu bienestar y queremos que te
        sientas valorado en este día tan especial. Por eso, te invitamos a
        participar en nuestro sorteo de premios exclusivos para nuestros
        clientes. ¡Tienes la oportunidad de ganar uno de estos fabulosos regalos
        y celebrar tu labor como padre!
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-padres></app-padres>
    </div>
  </div>

  <hr />

  <div class="row">
    <h3 class="bg-warning text-center">Ferias Agostinas Prodesa.</h3>
    <div class="col-md-6 col-sm-12 text-center">
      <p>
        ¡Celebremos juntos las tradicionales fiestas agostinas en el campo de
        ferias! En Corp. Prodesa, nos enorgullece formar parte de esta
        festividad tan arraigada en nuestra cultura. Durante estas fiestas, nos
        complace compartir momentos de alegría y diversión con nuestros clientes
        y colaboradores.

        <br /><br />

        Nos emociona ofrecer una experiencia única llena de entretenimiento,
        música, gastronomía y diversión para toda la familia.

        <br /><br />

        Acompáñanos en las fiestas agostinas en el campo de ferias y déjate
        llevar por la magia y la tradición de esta celebración. ¡Corp. Prodesa
        te espera con los brazos abiertos para vivir juntos momentos
        inolvidables!
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-agosto></app-agosto>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
      <h3 class="bg-info">Celebracion de la Purisima.</h3>

      <br />

      <p style="text-align: center !important;">
        ¡Celebremos juntos la festividad de La Purísima en diciembre, honrando a
        la Virgen María! En Corp. <br>
        Prodesa, nos unimos a esta tradición religiosa
        tan importante en nuestra cultura.
        <br>
         Durante el mes de Diciembre, nos
        complace compartir momentos de devoción y alegría con nuestros clientes
        y colaboradores.

        <br /><br />

        Acompáñanos en la celebración de La Purísima y déjate llevar por la
        espiritualidad y el amor hacia la Virgen María. 
        <br>
        ¡Corp. Prodesa te espera
        con los brazos abiertos para compartir juntos momentos de paz y
        bendiciones!
      </p>

      <app-navidad></app-navidad>
    </div>
  </div>

  <hr />

  <div class="row">
    <h3 class="bg-success text-center">
      Celebracion del Aniversario de Prodesa.
    </h3>
    <div class="col-md-6 col-sm-12 text-center">
      <br>
      <p>
        ¡Feliz aniversario! En Corp. Prodesa estamos emocionados de celebrar un
        año más de éxito, crecimiento y logros junto a nuestros valiosos
        clientes y colaboradores. Es un momento especial para reflexionar sobre
        nuestro camino recorrido y agradecer a todos aquellos que han sido parte
        fundamental de nuestro éxito.

        <br /><br />

        Aprovechamos esta ocasión para renovar nuestro compromiso de seguir
        brindando servicios financieros de calidad, innovadores y adaptados a
        las necesidades de nuestros clientes. Nuestro objetivo es continuar
        creciendo juntos y ser su socio confiable en el camino hacia el éxito
        financiero.
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-aniversario></app-aniversario>
    </div>
  </div>

</div>
</div>
