



<ngb-carousel class="justify-end">
    <ng-template ngbSlide>
        <h3 class="bg-danger">Agencia Juigalpa</h3>
      <div class="picsum-img-wrapper">
        <img
          src="../../../assets/images/capacitacion.jpg"
          class="img-carusel"
          alt="Angular Carousel 1"
        />
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <h3 class="bg-danger">Agencia Juigalpa</h3>
      <div class="picsum-img-wrapper">
        <img
          src="../../../assets/images/galeria/ft001.JPG"
          class="img-carusel"
          alt="Angular Carousel 2"
        />
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <h3 class="bg-danger">Agencia Juigalpa</h3>
      <div class="picsum-img-wrapper">
        
        <img
          src="../../../assets/images/tejidos.jpg"
          class="img-carusel"
          alt="Angular Carousel 2"
        />
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>