<div class="container">
  <label class="bg-success"
    >En este apartado podra encontrar información de propiedades en ventas que
    posee Corp. Prodesa, tambien vacantes laborales que te daran la oportunidad
    de ser parte de nuestra familia corporativa.</label
  >

  <!--Propiedades en venta-->
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-1"></div>
    <div class="col-md-10 col-sm-12 bg-success">


        cosas
    </div>
    <div class="col-1"></div>
  </div>
  <!--Fin Propiedades en venta-->

  <!--Vacantes laborales-->
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-1"></div>
    <div class="col-md-10 col-sm-12 bg-success">

        trabajos
        

    </div>
    <div class="col-1"></div>
  </div>
  <!--Fin Vacantes laborales-->

</div>
