
<app-card></app-card>


<!--Botones de panel de navegacion-->

<div class="">
  <div class="all ">
    <div class="col-md-12 col-sm-5 menu-bar-desktop">
     <!-- <img
        src="../../../assets/images/Logo.jpg"
        style="z-index: 2"
        width="10%"
        class="float-left"
      />-->

      <a href="/" class="button b0">Inicio</a>

      <a href="/cobertura" class="button b1">Cobertura</a>
      <a href="/productos" class="button b2">Productos Financieros</a>
      <a href="/social" class="button b3">Desempeño social</a>
      <a href="/calificacion" class="button b4">Calificacion Institucional</a>
      <!--<a href="/trabajos">Propiedades en Venta</a>-->

      

      <select id="mySelect1" (click)="navigate()" >
        <option >Aspectos Legales</option>
        <option value="/ley 769">Ley 769</option>
        <option value="/tcea">Tcea</option>
        <option value="/ejemplo calculos">Ejemplo calculos</option>
        <option value="/reclamos">Reclamos</option>
        <option value="/contratos">Contratos</option>
        <option value="/estados financieros">Estados Financieros</option>
      </select>
      
       
      </div>
    
</div>
</div>
