

.all a {
  color: rgb(255, 255, 255);
}


div {
  text-align: center;
  color: rgb(255, 255, 255);

  padding-bottom: 15px;
}

.menu-bar-desktop {
  font: 100% Roboto, sans-serif;
  font-size: 20px;
  line-height: 10px;
}

a {
  color: rgb(24, 23, 23);
  display: inline-block;
  text-decoration: none;
  padding: 15px;
    line-height: 20px;
    margin: 5px;

  border-bottom: #f3f3f3 1px solid;
}

a:hover {
  background: #ffe082;
}

a:active {
  background: #ffca28;
}

details{
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  color: rgb(255, 255, 255);
  border-bottom: #f3f3f3 1px solid;
  line-height: 20px;
  margin-top: 55px;
  
  margin: 5px;
  padding: 0;
}

@media screen and (min-width: 1186px) {
  details{
    
    padding-top: 5%;
    text-align: left;
    position: absolute;
    z-index: 1;
    width: auto;
}

  details:hover{
    background-color: rgb(63, 60, 60);
  }
}

  @media screen and (max-width: 700px) {
    details{
      text-align: center;
      z-index: 1;
  }
  
}
  
 
  

summary{
    padding: 15px;
    width: auto;
    margin: auto;
    padding: auto;
}

summary:hover {
    background: #ffe082;
  }
  
  summary:active {
    background: #ffca28;
  }

li{

    list-style-type: none;
}