



div {
  text-align: right;
  align-content: center;
  color: rgb(255, 255, 255);
  height: 5%;

}

.menu-bar-desktop {
  font: 100% Roboto, sans-serif;
  font-size: 20px;
  line-height: 10px;
}

a {
  color: rgb(24, 23, 23);
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  line-height: 20px;
  width: 12%;
  text-align: center;

}





a:active {
  background: #ffca28;
}

select {
  display: inline-block;
  transition: all 0.2s ease-in;
  position:  relative;
  color: rgb(255, 255, 255);
  z-index: 1;
  border: 0px solid ;
  background-color: #0642c400;
  border-bottom: #0642c4 12px solid;
  padding: 15px;
  width: auto;
  top: -32px;
  line-height: 40px;
  
}

@media screen and (min-width: 1210px) {
  .all{
    margin-right: 20px;
  }
}

@media screen and (max-width: 1210px) {
  select{
    width: 100%;
    top: 0;
    text-align: center;
  }
  a{
    width: 100%;
    text-align: center;
  }

  .all{
    margin-left: 0;
  }
}

select:hover {
background-color: #0642c4;
transform:  scaleY(1.03) ;
}


option{
    padding: 15px;
    width: auto;
    margin: auto;
    padding: auto;
    background-color: rgb(61, 60, 60);
}




li{

    list-style-type: none;
}



img{
  float: left;
}

.button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: rgb(255, 255, 255);
  z-index: 1;
 }
 
 .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 

 /*Este es el primer boton*/
  .b0{
    border-bottom: #4d39bd 12px solid;
  }

 .b0:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #4d39bd;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .b0:hover:before {
  top: -35%;
  background-color: #4d39bd;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .b0:hover:after {
  top: -45%;
  background-color: #4d39bd;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }


 /*Este es el segundo boton*/

 .b1{
  border-bottom: #bd3956 12px solid;
}

.b1:after {
content: "";
position: absolute;
left: 55%;
transform: translateX(-50%) scaleY(1) scaleX(1.45);
top: 180%;
width: 160%;
height: 190%;
background-color: #bd3956;
border-radius: 50%;
display: block;
transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
z-index: -1;
}



.b1:hover:before {
top: -35%;
background-color: #bd3956;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.b1:hover:after {
top: -45%;
background-color: #bd3956;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*Este es el tercer boton*/

.b2{
  border-bottom: #39bd44 12px solid;
}

.b2:after {
content: "";
position: absolute;
left: 55%;
transform: translateX(-50%) scaleY(1) scaleX(1.45);
top: 180%;
width: 160%;
height: 190%;
background-color: #39bd44;
border-radius: 50%;
display: block;
transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
z-index: -1;
}



.b2:hover:before {
top: -35%;
background-color: #39bd44;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.b2:hover:after {
top: -45%;
background-color: #39bd44;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/*Este es el cuarto boton*/

.b3{
  border-bottom: #bd7939 12px solid;
}

.b3:after {
content: "";
position: absolute;
left: 55%;
transform: translateX(-50%) scaleY(1) scaleX(1.45);
top: 180%;
width: 160%;
height: 190%;
background-color: #bd7939;
border-radius: 50%;
display: block;
transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
z-index: -1;
}



.b3:hover:before {
top: -35%;
background-color: #bd7939;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.b3:hover:after {
top: -45%;
background-color: #bd7939;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/*Este es el quito boton*/

.b4{
  border-bottom: #bd3939 12px solid;
}

.b4:after {
content: "";
position: absolute;
left: 55%;
transform: translateX(-50%) scaleY(1) scaleX(1.45);
top: 180%;
width: 160%;
height: 190%;
background-color: #bd3939;
border-radius: 50%;
display: block;
transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
z-index: -1;
}



.b4:hover:before {
top: -35%;
background-color: #bd3939;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.b4:hover:after {
top: -45%;
background-color: #bd3939;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


