*{
  color: rgb(0, 0, 0);
  padding: 0px;
  margin: 0px;
}

body{
  padding: 0px;
  margin: 0px;
}

a{
  color: black !important; 
}

div{
    margin-top: 0px;
    padding-top: 0px;
    /*background-color: rgb(54, 54, 54);*/
    background-color: white;
    
  }
