<div class="container" style="z-index: 4">
  <br /><br /><br />
  <h2>¡Bienvenid@ a la página de Corp. Prodesa!</h2>
  <br />

  <p class="text-justify font-italic" style="font-size: 1.2rem">
    La Corporación para la promoción y desarrollo Corp., se fundó el dieciséis
    de noviembre de 2010. Habiéndose inscrito dicha corporación en el Sistema
    Tecnológico de Información del Registro Público de Panamá. Sección
    Mercantil. Ficha Número siete, uno nueve, siete, cuatro, seis (719746).
    Documento Redí Número uno, ocho, ocho, cuatro, cuatro, ocho, ocho (1884488).
    Dicha Corporación se constituye como parte de un proyecto de expansión
    regional, aseguramiento de fondeo y especialización de la actividad de
    microfinanzas, emprendido por la Fundación Prodesa.
  </p>
  <p class="text-justify font-italic" style="font-size: 1.2rem">
    La filosofía corporativa, sus principios y valores expresan claramente la
    naturaleza, fines y objetivos que deben normar y guiar la acción de la
    institución: Alcanzar el fortalecimiento y consolidación de las capacidades
    y gestión administrativa de la Corporación.
  </p>

  <hr />

  <br /><br />

  <div class="card">
    <h2>Usted debe saber:</h2>
    <p class="text-center">📊 Que se aplica el 0% de Comisión.</p>
    <hr />
    <p class="text-center">📉 Taza Nominal Desde:</p>

    <div class="row">
      <div class="col-md-4 col-sm-4"></div>
      <div class="col-md-4 col-sm-6">
        <div class="progress-bar">
          <span class="bar-label"></span>
          <div class="bar-container">
            <div class="bar" style="width: 28%">18%</div>
          </div>
        </div>
        <div class="progress-bar">
          <span class="bar-label"></span>
          <div class="bar-container">
            <div class="bar" style="width: 32%">22%</div>
          </div>
        </div>
        <div class="progress-bar">
          <span class="bar-label"></span>
          <div class="bar-container">
            <div class="bar" style="width: 35%">25%</div>
          </div>
        </div>

        <div class="progress-bar">
          <span class="bar-label"></span>
          <div class="bar-container">
            <div class="bar" style="width: 42%">32%</div>
          </div>
        </div>

        <div class="progress-bar">
          <span class="bar-label"></span>
          <div class="bar-container">
            <div class="bar" style="width: 46%">36%</div>
          </div>
        </div>
      </div>
    </div>

    <br />
  </div>
</div>
