<div class="container" style="z-index: 4;">
    <br><br><br>
    <h2 class="animated pulse">¡Bienvenid@ a la página de Corp. Prodesa!</h2>
    <br>

    <p class="text-justify font-italic" style="font-size: 1.2rem">La Corporación para la promoción y desarrollo
        Corp., se fundó el dieciséis de noviembre de 2010. Habiéndose inscrito dicha corporación en el Sistema
        Tecnológico de Información del Registro Público de Panamá. Sección Mercantil. Ficha Número siete, uno
        nueve, siete, cuatro, seis (719746). Documento Redí Número uno, ocho, ocho, cuatro, cuatro, ocho, ocho
        (1884488). Dicha Corporación se constituye como parte de un proyecto de expansión regional, aseguramiento
        de fondeo y especialización de la actividad de microfinanzas, emprendido por la Fundación Prodesa.</p>
      <p class="text-justify font-italic" style="font-size: 1.2rem">La filosofía corporativa, sus principios y
        valores expresan claramente la naturaleza, fines y objetivos que deben normar y guiar la acción de la
        institución: Alcanzar el fortalecimiento y consolidación de las capacidades y gestión administrativa de la
        Corporación.
      </p>

    <hr>
</div>