<div class="container ">
  <img src="./../../../../assets/images/reclamos_ifim.png" alt="" />

 
  <br /><br /><br />

 <div class="row mt5">
  <div class="col"></div>
  <div class="col-md-9 col-sm-12"> <label class="bg-primary"
    >PROCEDIMIENTO PARA LA PRESENTACION DE RECLAMOS EN LAS OFICINAS DE PORACION
    PRODESA:</label
  >

  <br /><br /><br />

  <details>
    <summary>
      1- LOS RECLAMOS PUEDEN SER PRESENTADOS ATRAVEZ DE LAS SIGUIENTES VÍAS:
    </summary>
    <ul>
      <li>En Fisico</li>
      <li>Por correo</li>
      <li>Por la pagina Web</li>
    </ul>
  </details>

  <details>
    <summary>2- LOS USUARIOS TENGAN PRESENTE QUE:</summary>
    <ul>
      <li>El formulario para la presentación de reclamos son gratuitos.</li>
      <li>
        Su reclamo tiene que ser recibido, evitando el rechazo automático.
      </li>
      <li>
        CORPORACION PRODESA debe registrar su reclamo, asignando un código.
      </li>
      <li>
        Se debe proporcionar una repuesta usando el mismo medio por el que fue
        presentado el reclamo.
      </li>
    </ul>
  </details>

  <details>
    <summary>
      3- ES IMPORTANTE QUE CONOZCA QUE CORPORACION PRODESA NO PUEDE:
    </summary>
    <ul>
      <li>
        Realizar cobros por la recepción y atención de reclamos, incluso si
        estos son improcedentes.
      </li>
      <li>
        Exigir a los usuarios reclamantes la presentación de documentos e
        información que se encuentre en poder de la CORPORACION PRODESA o que no
        guarda relación directa con la materia reclamada.
      </li>
      <li>Exigir a los usuarios la presentación de un abogado.</li>
    </ul>
  </details>

  <details>
    <summary>4- RECUERDE QUE PARA LA PRESENTACIÓN DEL RECLAMO DEBERÁ:</summary>
    <ul>
      <li>Deberá ingresar la información requerida en el formulario.</li>
      <li>
        Presentar el formulario debidamente llenado, para lo cual deberá
        adjuntar: copia de cedula de identidad, documentos sustentos del reclamo
        y otros.
      </li>
      <li>
        Asegúrese de solicitarle al responsable de atención de la oficina, el
        acuse de recibido de la presentación, en su copia del formulario.
      </li>
    </ul>
  </details>

  <details>
    <summary>5- RECUERDE QUE EL PLAZO PARA SU REPUESTA ES DE:</summary>

    <br /><br />
    <div class="row">
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">
                La Corporación Tendrá Un Palzo De 7 días Hábiles Contados a
                Partir De La Recepción Del Reclamo, Para Emitir Su Repuesta.
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div
        class="col-2 text-center alaing-items-center"
        style="font-size: 40px"
      >
        👉🏽
      </div>

      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">
                En Casos Excepcionales y Atendiendo La Complejidad Del Reclamo,
                Se Puede Hacer Uso De 5 Días Adicionales, Debiendo Notificar Al
                Domicilio Del Usuario Reclamante.
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </details>

  <details>
    <summary>6- ADEMAS TOME EN CUENTE QUE:</summary>
    <ul>
      <li>
        Si La CORPORACION PRODESA no emite una respuesta en el plazo establecido
        por la NORMA, si la respuesta es negativa o está en desacuerdo con la
        respuesta emitida, puede recurrir ante el presidente ejecutivo de la
        CONAMI.
      </li>
    </ul>
  </details>

  <details>
    <summary>
      7- ES IMPORTANTE QUE CONOZCA LOS HORARIOS DE COBRANZA EXTRAJUDICIAL:
    </summary>
    <ul>
      <li>
        Las instituciones, abogados, gestores de cobranza y servicios
        automatizados de cobranza solo podrán contactar al deudor entre las 7:
        00 de la mañana y las 6:00 de la tarde de lunes a viernes y los sábados
        de 7:00 de la mañana y las 2:00 de la tarde.
      </li>
    </ul>
  </details>

  <details>
    <summary>8- CORPORACIÓN PRODESA TAMBIÉN DEBERÁ:</summary>
    <ul>
      <li>
        Proteger Los Datos De Sus Clientes, El Uso de los datos personales con
        fines distintos a los manifestados por el usuario, requerirá
        autorización por escrito.
      </li>
    </ul>
  </details>

  <details>
    <summary>9- DIFERENCIA ENTRE QUEJA Y RECLAMO:</summary>
    <ul>
      <li>
        <strong>Quejas:</strong> Manifestación de usuario relativo a la
        tardanza, desatención e irregularidades en el funcionamiento de los
        servicios recibidos.
      </li>
      <li>
        <strong>Reclamo:</strong> Petición que realiza el usuario ante la IFIM o
        la CONAMI, para que se reconozca favor la existencia a un derecho, de
        conformidad con la presente norma.
      </li>
    </ul>
  </details>

  <details>
    <summary>10- PUEDE CONTACTARNOS A TRAVÉS DE:</summary>
    <div class="table-responsive">
      <table
        class="table table-striped table-hover table-borderless table-primary align-middle"
      >
        <thead class="table-light">
          <tr>
            <th>Medios</th>
            <th>CONAMI</th>
            <th>CORPORACIÓN PRODESA</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="table-primary">
            <td scope="row">Teléfonos</td>
            <td>2250-9797, ext. 7010 2222-2414, 2222-2413</td>
            <td>2512-2920, ext.123</td>
          </tr>
          <tr class="table-primary">
            <td scope="row">Correo Electrónicos</td>
            <td>Correo@conami.gob.ni atencion.usuarios@conami.gob.ni</td>
            <td>
              prodesacorp@yahoo.com oficialatencionusuario@corpprodesasn.com.ni
            </td>
          </tr>
          <tr class="table-primary">
            <td scope="row">Dirección</td>
            <td>Del busto José Martí 1 c este 1 ½ c norte, Managua.</td>
            <td>Costado Sur Alcaldía Municipal Juigalpa.</td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </details>


  <br><br><br><br>
  <div class="card mb-3" style="max-width: 600px; min-width: 300px;">
    <div class="row g-0 ">
      <div class="col-md-4">
        <img
          src="./../../../../assets/images/Logo.jpg"
          class="img-fluid rounded-start"
          alt="Card title"
        />
      </div>


      <div class="col-md-8 ">
        <div class="card-body">
          <h5 class="card-title">
            Oficial de Atención al Usuario de Corp. Prodesa:
          </h5>
          <p class="card-text">Lcda. Angela Del Socorro Lazo Jirón</p>
          <p class="card-text">
            <strong class="text-muted"
              >Correo: oficialatencionusuario@corpprodesasn.com.ni</strong
            >
          </p>
          <p class="card-text">
            <strong class="text-muted">Teléfono: 2512-2920</strong>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
  <div class="col"></div>
 </div>

  <br /><br />

  

  <br /><br />

  <hr>

  <p class="tarjeta">
    O tambien, puede mandar su queja directo desde el siguiente formulario.
  </p>

  <hr>

  <app-email-form></app-email-form>
</div>
