<div class="container">
  <img src="./../../../../assets/images/reclamos_ifim.png" alt="" />

  <br /><br /><br />

  <label
    >PROCEDIMIENTO PARA LA PRESENTACION DE RECLAMOS EN LAS OFICINAS DE PORACION
    PRODESA:</label
  >

  <br /><br /><br />

  <details>
    <summary>
      1- LOS RECLAMOS PUEDEN SER PRESENTADOS ATRAVEZ DE LAS SIGUIENTES VÍAS:
    </summary>
    <ul>
      <li>En Fisico</li>
      <li>Por correo</li>
      <li>Por la pagina Web</li>
    </ul>
  </details>

  <details>
    <summary>2- LOS USUARIOS TENGAN PRESENTE QUE:</summary>
    <ul>
      <li>El formulario para la presentación de reclamos son gratuitos.</li>
      <li>
        Su reclamo tiene que ser recibido, evitando el rechazo automático.
      </li>
      <li>
        CORPORACION PRODESA debe registrar su reclamo, asignando un código.
      </li>
      <li>
        Se debe proporcionar una repuesta usando el mismo medio por el que fue
        presentado el reclamo.
      </li>
    </ul>
  </details>

  <details>
    <summary>
      3- ES IMPORTANTE QUE CONOZCA QUE CORPORACION PRODESA NO PUEDE:
    </summary>
    <ul>
      <li>
        Realizar cobros por la recepción y atención de reclamos, incluso si
        estos son improcedentes.
      </li>
      <li>
        Exigir a los usuarios reclamantes la presentación de documentos e
        información que se encuentre en poder de la CORPORACION PRODESA o que no
        guarda relación directa con la materia reclamada.
      </li>
      <li>Exigir a los usuarios la presentación de un abogado.</li>
    </ul>
  </details>

  <details>
    <summary>4- RECUERDE QUE PARA LA PRESENTACIÓN DEL RECLAMO DEBERÁ:</summary>
    <ul>
      <li>Deberá ingresar la información requerida en el formulario.</li>
      <li>
        Presentar el formulario debidamente llenado, para lo cual deberá
        adjuntar: copia de cedula de identidad, documentos sustentos del reclamo
        y otros.
      </li>
      <li>
        Asegúrese de solicitarle al responsable de atención de la oficina, el
        acuse de recibido de la presentación, en su copia del formulario.
      </li>
    </ul>
  </details>

  <details>
    <summary>5- RECUERDE QUE EL PLAZO PARA SU REPUESTA ES DE:</summary>

    <br /><br />
    <div class="row">
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">
                La Corporación Tendrá Un Palzo De 7 días Hábiles Contados a
                Partir De La Recepción Del Reclamo, Para Emitir Su Repuesta.
              </footer>
            </blockquote>
          </div>
        </div>
      </div>

      <div
        class="col-2 text-center alaing-items-center"
        style="font-size: 40px"
      >
        👉🏽
      </div>

      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">
                En Casos Excepcionales y Atendiendo La Complejidad Del Reclamo,
                Se Puede Hacer Uso De 5 Días Adicionales, Debiendo Notificar Al
                Domicilio Del Usuario Reclamante.
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </details>

  <app-email-form></app-email-form>
</div>
