li{
    font-size: 20px;
    margin: 5px 7px;

    
}

li:hover{

    background-color: rgba(160, 67, 67, 0.452);
    border-radius: 5px;
    padding: 10px;
}

h1{
    color: rgba(255, 187, 0, 0.884);
    font-style: oblique ;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: #fff7f7;
    margin-left: 5px;
}