<div class="container">
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-2"></div>
    <div class="col-md-8 col-sm-12">
      <div class="container text-center">
        <h1>Nuestra Cobertura a Nivel Nacional</h1>
        <h4>
          La Corporación para la promoción y desarrollo Corp., se encuentra
          presente en 15 municipios de toda Nicaragua.
        </h4>

        <br />

        <!--<img src="./../../../assets/images/coberturaProdesa.jpg" alt="" />-->

        <div style="width: 100%">
          <iframe
            name="gmap_frame"
            width="100%"
            height="600"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=4J4M+4W7,%20NIC-7,%20Juigalpa+(Prodesa)&amp;t=p&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          >
          </iframe>
        </div>

        <br /><br /><br />
        <hr />

        <ul>
          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=4J4M+4W7,%20NIC-7,%20Juigalpa+(Prodesa)&amp;t=p&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >Juigalpa</a
            >
          </li>

          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=12.215722,%20-85.167113+(Prodesa%20La%20Libertad)&amp;t=p&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >La Libertad</a
            >
          </li>

          <li style="display: inline-block">
            ||<a href="" target="gmap_frame">Santo Tomas</a>
          </li>

          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=12.384076,%20-85.514749+(Prodesa%20Camoapa)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >Camoapa</a
            >
          </li>

          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=12.47327,-85.6609174+(Prodesa%20Boaco)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >Boaco</a
            >
          </li>

          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=12.4931646,-84.8191973+(Prodesa%20El%20Ayote)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >El Ayote</a
            >
          </li>

          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=12.0672813,-84.5395096+(Prodesa%20Muelle%20de%20los%20Bueyes)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >Muelle de los Bueyes</a
            >
          </li>

          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=11.6783882,-84.7013246+(Prodesa%20El%20Almendro)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >El Almendro</a
            >
          </li>

          <li style="display: inline-block" target="gmap_frame">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=11.128995897957267,-84.77754592895508+(Prodesa%20San%20Carlos)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >San Carlos</a
            >
          </li>

          <li style="display: inline-block">
            ||<a href="" target="gmap_frame">Nueva Guinea</a>
          </li>

          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=12.163358,%20-84.218317+(Prodesa%20El%20Rama)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >El Rama</a
            >
          </li>

          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=12.010736630449257,-83.76383716933498+(Prodesa%20Bluefields)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >Bluefield</a
            >
          </li>

          <li style="display: inline-block">
            ||<a href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=11.4359255,-85.8305461+(Prodesa%20Rivas)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" target="gmap_frame">Rivas</a>
          </li>

          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=11.8476234,-86.2010901+(Prodesa%20Jinotepe)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >Jinotepe</a
            >
          </li>

          <li style="display: inline-block">
            ||<a
              href="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=11.9751436,-86.093069+(Prodesa%20Masaya)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              target="gmap_frame"
              >Masaya</a
            >
            ||
          </li>
        </ul>

        <br /><br />
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
