<div class="container">
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-2"></div>
    <div class="col-md-8 col-sm-12">
      <div class="container text-center">
        <h1 >Nuestra Cobertura a Nivel Nacional</h1>
        <h4>
          La Corporación para la promoción y desarrollo Corp., se encuentra presente
          en 15 municipios de toda Nicaragua.
        </h4>
      
        <br>
      
        <img src="./../../../assets/images/coberturaProdesa.jpg" alt="" />
      
        <br><br><br>
        <hr>
      
        <ul>
          <li style="display: inline-block">|| Juigalpa</li>
          <li style="display: inline-block">|| La Libertad</li>
          <li style="display: inline-block">|| Santo Tomas</li>
          <li style="display: inline-block">|| Camoapa</li>
          <li style="display: inline-block">|| Boaco</li>
          <li style="display: inline-block">|| El Ayote</li>
          <li style="display: inline-block">|| Muelle de los Bueyes</li>
          <li style="display: inline-block">|| El Almendro</li>
          <li style="display: inline-block">|| San Carlos</li>
          <li style="display: inline-block">|| Nueva Guinea</li>
          <li style="display: inline-block">|| Rama</li>
          <li style="display: inline-block">|| Bluefield</li>
          <li style="display: inline-block">|| Rivas</li>
          <li style="display: inline-block">|| Jinotepe</li>
          <li style="display: inline-block">|| Masaya ||</li>
        </ul>
      
        <br><br>
      </div>
      
    </div>
    <div class="col-2"></div>
  </div>
</div>