<div class="container">
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-1"></div>
    <div class="col-md-10 col-sm-12">
      <label class="bg-success"
        >Logros de Corporación Prodesa por su desempeño en la transparencia
        financiera del sector de Microfinanzas</label
      >

      <hr />
      <iframe
        src="./../../../assets/docs/Calificacion_Institucional/Certificado de Transparencia 2018 Prodesa B.pdf"
        frameborder="0"
      ></iframe>

      <br /><br />
      <hr>

      <iframe
        src="./../../../assets/docs/Calificacion_Institucional/Ranking Centroamerica y Republica Dominicana 2018.pdf"
        frameborder="0"
      ></iframe>

      <br /><br />
      <hr>

      <iframe
        src="./../../../assets/docs/Calificacion_Institucional/Ranking Centroamerica y Republica Dominicana.pdf"
        frameborder="0"
      ></iframe>

      <br /><br />
    </div>
    <div class="col-1"></div>
  </div>
</div>
