<div class="container">
  <!--Columna parte superior-->
  <div class="row justify-content-center align-items-center g-2">
    <label class="bg-success">I. DEFINICIONES</label>
    <br /><br />

    <!--Columna de definiciones-->
    <div class="row col-md-8 col-sm-12">
      <!--Columna de descripcion de Conami-->
      <div class="col">
        <div class="card text-start">
          <img
            class="card-img-top"
            src="./../../../../assets/images/conami2.PNG"
            alt="Title"
          />
          <div class="card-body">
            <h4 class="card-title">CONAMI:</h4>
            <p class="card-text">
              Comisión Nacional de Microfinanzas, órgano rector de las
              instituciones de microfinanzas según su Ley creadora, Ley 769,
              ?Ley de Fomento y Regulación de las Microfinanzas?, publicada en
              La Gaceta, Diario Oficial N°128 del 11 de julio del 2011.
            </p>
          </div>
        </div>
      </div>
      <!-- fin de Columna de descripcion de Conami-->

      <!--Columna de descripcion de Cliente-->
      <div class="col">
        <div class="card text-start">
          <img
            class="card-img-top"
            src="./../../../../assets/images/cliente/cliente.PNG"
            alt="Title"
          />
          <div class="card-body">
            <h4 class="card-title">CLIENTE:</h4>
            <p class="card-text">
              Persona natural o jurídica con quien la Corporación PRODESA
              mantiene una relación comercial originada por la celebración de un
              contrato, o a quien la institución brinda información previa la
              celebración de un contrato.
            </p>
          </div>
        </div>
      </div>
      <!--Fin de Columna de descripcion de Cliente-->
    </div>
  </div>

  <!--Fin de Columna parte superior-->

  <!--Resto del calculo de ejemplo-->

  <div class="row justify-content-center align-items-center g-2">
    <label class="bg-success">II. CONSIDERACIONES</label>
    <br /><br />

    <div class="col"></div>
    <div class="col-md-8 col-sm-12">
      <ul>
        <li>
          <p>
            Los importes que se muestran en el documento son para ilustración de
            los clientes de Corporación PRODESA.
          </p>
        </li>
        <li>
          <p>
            Las tasas y sus rangos de aplicación son referenciales, y pueden
            variar en función del comportamiento del cliente durante la vida del
            crédito.
          </p>
        </li>
        <li>
          <p>
            Los productos a los que aplica la presente fórmula son,
            Microcréditos, Créditos Personales, Hipotecarios de vivienda y
            Créditos de Desarrollo Empresarial,todos con Mantenimiento de Valor.
          </p>
        </li>
      </ul>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-center align-items-center g-2">
    <label class="bg-success"
      >III. DATOS REFERENCIALES PARA EL DESARROLLO DEL EJEMPLO</label
    >
    <br /><br />
    <div class="col"></div>

    <div class="col-md-8 col-sm-10">
      <div class="table-responsive">
        <table
          class="table table-striped table-hover table-borderless table-primary align-middle"
        >
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Descripción</th>
              <th>Dato</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr class="table-primary">
              <td scope="row">1</td>
              <td>Monto del Crédito</td>
              <td>C$ 40,000.00</td>
            </tr>
            <tr class="table-primary">
              <td scope="row">2</td>
              <td>Tasa de Interés Anual</td>
              <td>22.00%</td>
            </tr>
            <tr class="table-primary">
              <td scope="row">3</td>
              <td>Tasa de Interés Moratorio</td>
              <td>27.50%</td>
            </tr>
            <tr class="table-primary">
              <td scope="row">4</td>
              <td>Plazo</td>
              <td>30 meses</td>
            </tr>
            <tr class="table-primary">
              <td scope="row">5</td>
              <td>Forma de Pago</td>
              <td>Mensual</td>
            </tr>
            <tr class="table-primary">
              <td scope="row">6</td>
              <td>Tasa de Cambio Inicial</td>
              <td>28.5380</td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-center align-items-center g-2">
    <label class="bg-success">IV. DESCRIPTIVO</label>
    <br /><br />

    <div class="col"></div>
    <div class="col-md-8 col-sm-10">
      <div class="card text-center">
        <div class="card-body header-card">
          <p class="card-title">
            <strong
              >Nuestras tablas de amortización de créditos presentan la
              siguiente estructura:</strong
            >
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>
              <strong>Fechas: </strong> Corresponden a la fecha en la cual el
              cliente pacta con la institución las amortizaciones que se
              realizarán.
            </p>
          </li>

          <li class="list-group-item">
            <p>
              <strong>Número Cuota: </strong> Corresponde al número de cuotas
              pactadas entre la institución y el cliente para cancelar su
              crédito.
            </p>
          </li>

          <li class="list-group-item">
            <p>
              <strong>Saldo Inicial: </strong> Corresponde al saldo inicial que
              se le presenta al cliente, el cual se realizan los cálculos para
              intereses y mantenimiento de valor.
            </p>
          </li>

          <li class="list-group-item">
            <p>
              <strong>Principal: </strong> Corresponde al monto que se
              amortizará de principal adecuándose a la cantidad de cuotas
              pactadas.
            </p>
          </li>

          <li class="list-group-item">
            <p>
              <strong>Saldo Final: </strong> Corresponde el saldo inicial menos
              el principal amortizado (columna (3) menos columna (4)).
            </p>
          </li>

          <li class="list-group-item">
            <p>
              <strong>SM. Valor: </strong>Monto correspondiente al mantenimiento
              de córdoba frente al dólar.
            </p>
          </li>

          <li class="list-group-item">
            <p>
              <strong>Interés: </strong>Corresponde al monto de interés
              corriente cobrado por la institución basada en la cantidad de días
              transcurridos desde la última fecha de pago.
            </p>
          </li>

          <li class="list-group-item">
            <p>
              <strong>Total: </strong>Corresponde a la cuota total a pagar por
              el cliente.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-center align-items-center g-2">
    <label class="bg-success">V. FORMAS DE CALCULO</label>
    <br /><br />

    <div class="col"></div>
    <div class="col-md-8 col-sm-12">
      <div class="card text-start">
        <div class="card-body">
          <p>Taza de cambio inicial: <code>28.5380</code></p>
          <p class="text-center">
            a. La Tasa de cambio inicial se multiplica por el 5% anual la que
            corresponde a la devaluación por Mantenimiento de Valor estipulado
            en la Ley 732:
            <br />
            <br />

            <code>28.5380 X 5% = 1.4269</code>
            <br />
            <br />

            b. El resultado se divide entre 12 que son los meses que trae el
            año:
            <br />
            <br />

            <code>1.4269 / 12 = 0.118908333</code>
            <br />
            <br />

            c. El resultado de la división anterior se divide entre 30, para
            sacar el factor diario:
            <br />
            <br />

            <code> 0.118908333 / 30 = 0.003963611</code>
            <br />
            <br />

            d. El resultado anterior se multiplica por la cantidad de días
            transcurridos desde la fecha de desembolso hasta la fecha del primer
            pago:
            <br />
            <br />

            Supongamos que el crédito se desembolsa el 10 de junio del 2016 y el
            cliente solicita fechas de pago los 17 de cada mes, por lo que
            tocaría pago el 17/07/2016, del 10/06/2016 al 17/07/2016
            <code>transcurren 37 días</code>
            <br />
            <br />

            <code>0.003963611 x 37 días = 0.146653611</code>
            <br />
            <br />

            e. El resultado se suma a la tasa de Cambio inicial:
            <br />
            <br />

            <code>28.5380 + 0.146653611 = 28.6846</code>
            <br />
            <br />

            <br />
          </p>
          <h5 class="bg-warning text-center">
            Nota: Para el cálculo de la segunda tasa de cambio proyectada se
            utiliza el mismo procedimiento.
          </h5>
          <hr />
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-center align-items-center g-2">
    <label class="bg-success">VI. MANTENIMIENTO DE VALOR PROYECTADO:</label>
    <br /><br />

    <div class="col"></div>
    <div class="col-md-8 col-sm-12">
      <div class="card text-start text-center">
        <div class="card-body">
          <p>
            Dado que los créditos que son otorgados en Corporación PRODESA son
            en córdobas con Mantenimiento de Valor con respecto al dólar
            norteamericano se debe realizar la proyección del mantenimiento de
            valor a cobrar en cada crédito que tenga esta cláusula contractual.
            Para conocer la manera de proyectar y cobrar el mantenimiento de
            Valor debemos seguir los siguientes pasos:
          </p>

          <hr />
          <p>
            a. Se divide el monto de crédito otorgado entre la tasa de cambio
            inicial para conocer el monto a otorgar el mantenimiento de valor:
            <br />
            <br />
          </p>
          <div class="table-responsive">
            <table class="table table-primary">
              <thead>
                <tr>
                  <th scope="col">Monto del Crédito</th>
                  <th scope="col">Tasa de Cambio Inicial</th>
                  <th scope="col">
                    Tasa de Cambio proyectada para el primer pago
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td scope="row">C$ 40,000.00</td>
                  <td>28.5380</td>
                  <td>28.6846</td>
                </tr>
              </tbody>
            </table>
          </div>

          <p>
            <br />
            <br />

            <code>C$ 40,000.00 / 28.5380 = 1,401.64</code>
            <br />
            <br />

            b. Dicho monto se multiplica por la tasa de cambio proyectada para
            conocer el nuevo saldo en córdobas a la fecha de realización del
            primer pago:
            <br />
            <br />

            <code>US$ 1,401.64 x 28.6846 = 40,205.56</code>
            <br />
            <br />

            c. Al resultado de multiplicar el monto dolarizado se le resta el
            principal en córdobas y el saldo resultante será el mantenimiento de
            valor.
            <br />
            <br />
            <code>40,205.56 ? 40,000= 205.56</code>
            <br />
            <br />
          </p>
          <h5 class="bg-warning text-center">
            Nota: Para el cálculo de la segunda cuota de mantenimiento de valor
            proyectado se utiliza el mismo procedimiento.
          </h5>
          <hr />
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-center align-items-center g-2">
    <label class="bg-success">VI. MANTENIMIENTO DE VALOR PROYECTADO:</label>
    <br /><br />

    <div class="col"></div>
    <div class="col-md-8 col-sm-12">
      <div class="card text-start text-center">
        <div class="card-body">
          <p>
            Obteniendo los datos anteriores es posible realizar el cálculo de la
            tasa de interés para cada crédito otorgado por Corporación PRODESA
            Sucursal Nicaragua, explicaremos de forma breve la manera de
            calcular el interés para la primera cuota y segunda cuota a través
            de los siguientes pasos:
          </p>

          <hr />
          <p>
            a. El monto de principal se divide entre la tasa de cambio inicial:
            <br />
            <br />
          </p>
          <div class="table-responsive">
            <table class="table table-primary">
              <thead>
                <tr>
                  <th scope="col">Monto del Crédito</th>
                  <th scope="col">Tasa de Cambio Inicial</th>
                  <th scope="col">
                    Tasa de Cambio proyectada para el primer pago
                  </th>
                  <th scope="col">Tasa de Interes Mensual</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td scope="row">C$ 40,000.00</td>
                  <td>28.5380</td>
                  <td>28.6846</td>
                  <td>1.8333%</td>
                </tr>
              </tbody>
            </table>
          </div>

          <p>
            <br />
            <br />

            <code>C$ 40,000.00 / 28.5380 = 1,401.64</code>
            <br />
            <br />

            b. Dividimos la tasa de interés mensual entre 30 para conocer el
            cobro diario de intereses, independientemente de la tasa a aplicar:
            <br />
            <br />

            <code>1.8333% / 30 =0.06111%</code>
            <br />
            <br />

            c. Al resultado anterior lo multiplicamos por la cantidad de días
            transcurridos desde la fecha de entrega (para los caso de pago de
            primer cuota) hasta la fecha que se realiza el pago o se proyecta el
            pago a realizar.
            <br />
            Continuando con el ejemplo transcurren 37 días desde la fecha de
            entrega del crédito hasta la fecha de pago de la primer cuota
            <br />
            <code>0.06111% X 37 días = 2.2611%</code>
            <br />
            <br />

            d. Una vez obtenido el resultado anterior multiplicamos los 2.2611%
            por el monto del inciso (a) los US$1,401.64 y a este resultado lo
            multiplicamos por la tasa de cambio proyectada:
            <br />
            <br />

            <code
              >2.2611% x US$1,401.64 = US$31.69
              <br />
              US$31.69 x 28.6846 = C$909.09 C$909.09</code
            >
            <br />
            <br />
          </p>
          <h5 class="bg-warning text-center">
            Nota: Para el cálculo de la segunda tasa de interés proyectada,
            varía en que el saldo resultante de restar el principal menos el
            monto amortizado de la primer cuota, este se divide entre la tasa de
            cambio inicial, luego el procedimiento es el mismo.
          </h5>
          <hr />
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row justify-content-center align-items-center g-2">
    <label class="bg-success">VII. CALCULO DEL INTERÉS MORATORIO:</label>
    <br /><br />

    <div class="col"></div>
    <div class="col-md-8 col-sm-12">
      <div class="card text-start text-center">
        <div class="card-body">
          <p>
            Para este cálculo se aplica sobre el monto por cada cuota del principal vencido
          </p>

          <hr />
          <p>
            a. El monto del credito de principal se divide entre las cuotas programadas:
            <br />
            <br />
          </p>
          <div class="table-responsive">
            <table class="table table-primary">
              <thead>
                <tr>
                  <th scope="col">Monto del Crédito</th>
                  <th scope="col">Tasa de Cambio Inicial</th>
                  <th scope="col">
                    Tasa de Cambio proyectada para el primer pago
                  </th>
                  <th scope="col">Tasa de Interes Mensual</th>
                  <th scope="col">Tasa de Interes Moratorio Mensual</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td scope="row">C$ 40,000.00</td>
                  <td>28.5380</td>
                  <td>28.6846</td>
                  <td>1.8333%</td>
                  <td>2.2916%</td>
                </tr>
              </tbody>
            </table>
          </div>

          <p>
            <br />
            <br />

            <code>C$ 40,000.00 / 28.5380 = 1,401.64</code>
            <br />
            <br />

            b. Dividimos el monto del credito otorgado entre 24 meses de plazo para conocer la cuota mensual de principal:
            <br />
            <br />

            <code>40,000.00 / 24 meses = C$ 1,666.66</code>
            <br />
            <br />

            c. La cuota de principal afectada se divide entre el tipo de cambio emitido por el Banco central de Nicaragua, a la fecha inicial del desembolso del credito y se multiplica por el tipo de cambio del Banco Central de Nicaragua a la fecha de liquidación o pago de la cuota en mora, generando el resultado al cual debemos aplicar el cálculo para los intereses moratorios.
            <br />
            <br />
            <code>C$ 1,666.66 / 28.5380 * 29.5025 = C$ 1,722.99</code>
            <br />
            <br />

            d.  Al resultado anterior lo multiplicamos por la tasa de interés moratorio mensual entre 30 días por 45 días (días de atraso) o fecha de liquidación:
            <br />
            <br />

            <code
              >C$ 1,722.99*2.2916%/30*45 = C$ 59.22</code
            >
            <br />
            <br />
          </p>
          
          
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <!--Fin cel calculo de ejemplo-->
</div>

<hr />
