<div class="container ">
 <div class="row">
    <details class="col-md-4 col-sm-10" open>
        <summary >Contratos</summary>
        <ul>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 1.pdf"
              type="link"
              target="iframe_Contrato"
            >
              Norma sobre Transparencia de la Informacion.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/TABLA DE COSTOS 2022.pdf"
              type="link"
              target="iframe_Contrato"
              >TCEA de las IFIM CORP PRODESA VF.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 3.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Fianza Solidaria.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 4.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Fianza Solidaria y Cesión de Derechos en Garantia (con dos fiadores).
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 5.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Fianza Solidaria y Garantia Prendaria (Civil) con un Fiador.  
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 6.pdf"
              type="link"
              target="iframe_Contrato"
              > Contrato de Mutuo con Fianza Solidaria y Garantia Prendaria (Civil) con dos Fiadores.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 7.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Garantia Prendaria (Civil) y Fianza Solidaria con dos Fiadores.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 8.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Fianza Solidaria -Cesión de Derechos en Garantia y Prenda (Civil).
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 9.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Cesión de Derechos en Garantia y Fianza Solidaria (con un fiador).
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 10.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Cesión de Derechos en Garantia y Fianza Solidaria (con dos fiadores).
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 11.pdf"
              type="link"
              target="iframe_Contrato"
              > Contrato de Mutuo con Cesión de Derechos en Garantia y Fianza Solidaria (con un fiador).
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 12.pdf"
              type="link"
              target="iframe_Contrato"
              > Contrato de Linea de Credito Revolvente con Cesión de Derechos en Garantia.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 13.pdf"
              type="link"
              target="iframe_Contrato"
              >Escritura de Linea de Credito Revolvente con Garantia Hipotecaria.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 14.pdf"
              type="link"
              target="iframe_Contrato"
              > Escritura de Credito e Hipoteca.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 15.pdf"
              type="link"
              target="iframe_Contrato"
              >Escritura de Credito con Fianza Solidaria e Hipoteca.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 16.pdf"
              type="link"
              target="iframe_Contrato"
              >Escritura de Linea de Credito Revolvente con Garantia Hipotecaria y Fianza Solidaria.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 17.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Garantia Prendaria (Civil) y Fianza Solidaria.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 18.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Garantia Prendaria (Civil) y Fianza Solidaria.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 19.pdf"
              type="link"
              target="iframe_Contrato"
              >Escritura de Linea de Credito Revolvente con Fianza Solidaria e Hipoteca.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 21.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Interes con Garantia de Prenda Civil.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 22.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato de Mutuo con Interes con Garantia de Prenda Civil  (Inventario).
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/Contrato 23.pdf"
              type="link"
              target="iframe_Contrato"
              >Escritura de Credito e Hipoteca y Fianza Solidaria con Hipoteca.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/contratos_legal/Contrato 24.pdf"
              type="link"
              target="iframe_Contrato"
              >Contrato De Mutuo Mercantil Con Garantía Prendaria.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/contratos_legal/Contrato 25.pdf"
              type="link"
              target="iframe_Contrato"
              >CONTRATO DE MUTUO MERCANTIL CON GARANTIA MOBILIARIA Y CON FIANZA SOLIDARIA.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/contratos_legal/Contrato 26.pdf"
              type="link"
              target="iframe_Contrato"
              >CONTRATO DE MUTUO MERCANTIL CON GARANTIA DE BIEN INMUEBLE Y CON FIANZA SOLIDARIA.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/contratos_legal/Contrato 27.pdf.pdf"
              type="link"
              target="iframe_Contrato"
              >CONTRATO DE MUTUO MERCANTIL CON FIANZA SOLIDARIA.
            </a>
          </li>
          <li>
            <a
              href="./../../../../assets/docs/CONTRATOS/contratos_legal/Contrato 32.pdf.pdf"
              type="link"
              target="iframe_Contrato"
              >CONTRATO DE MUTUO CON INTERES CON CESION DE DERECHOS EN GARANTIA.
            </a>
          </li>

        </ul>
      </details>
    
      <iframe  name="iframe_Contrato"   class="col-md-8 col-sm-5"  ></iframe>
 </div>
</div>
