<div class="container ">
    <div class="row">
       <details class="col-md-4 col-sm-10"  open>
           <summary >Estados Financieros</summary>
           <ul>
             <li>
               <a
                 href="./../../../../assets/docs/Estados3.pdf"
                 type="link"
                 target="iframe_Contrato"
               >
               Estados Financieros Auditados 2015.
               </a>
             </li>


             <li>
                <a
                  href="./../../../../assets/docs/Estados4.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                Estados Financieros Auditados 2016.
                </a>
              </li>
              <li>
                <a
                  href="./../../../../assets/docs/Estados5.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                Estados Financieros Auditados 2017.
                </a>
              </li>
              <li>
                <a
                  href="./../../../../assets/docs/Estados6.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                Estados Financieros Auditados 2018.
                </a>
              </li>
              <li>
                <a
                  href="./../../../../assets/docs/Estados7.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                Estados Financieros Auditados 2019.
                </a>
              </li>
              <li>
                <a
                  href="./../../../../assets/docs/Estados8.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                Estados Financieros Auditados 2020.
                </a>
              </li>
              <li>
                <a
                  href="./../../../../assets/docs/Estados8.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                Estados Financieros Auditados 2021.
                </a>
              </li>

              <li>
                <a
                  href="./../../../../assets/docs/Estados10.pdf"
                  type="link"
                  target="iframe_Contrato"
                >
                Estados Financieros Auditados 2022.
                </a>
              </li>
   
           </ul>
         </details>
       
         <iframe  name="iframe_Contrato"   class="col-md-8 col-sm-5"  ></iframe>
    </div>
   </div>